
/* t&m - gray summary box Oblg. Direct label */
/* in order to not hide any table cells for the "Distributed/Distributable" dropdown selection which uses the identical table except for the number of columns, measuring the number of columns and only hiding the specified column if it detects that the 10th column is the last - trick from: https://alistapart.com/article/quantity-queries-for-css/ */
#awardHierarchyScrollable > div > div > table > tbody > tr > td:nth-last-child(10):first-child ~ td:nth-child(5)  {
  visibility: hidden;
}

/* t&m - gray summary box Oblg. Direct column data - view only on doc - looks for li tag with id in format li????0-???? since they seem to be in format li030315-00001 with whatever award num */
/* in order to not hide any table cells for the "Distributed/Distributable" dropdown selection which uses the identical table except for the number of columns, measuring the number of columns and only hiding the specified column if it detects that the 10th column is the last - trick from: https://alistapart.com/article/quantity-queries-for-css/ */
li[id^='li'][id*='-0'] > a > div > table > tbody > tr > td:nth-last-child(10):first-child ~ td:nth-child(5) {
  visibility: hidden;
}

/* t&m - gray summary box Oblg. F&A label */
/* in order to not hide any table cells for the "Distributed/Distributable" dropdown selection which uses the identical table except for the number of columns, measuring the number of columns and only hiding the specified column if it detects that the 10th column is the last - trick from: https://alistapart.com/article/quantity-queries-for-css/ */
#awardHierarchyScrollable > div > div > table > tbody > tr > td:nth-last-child(10):first-child ~ td:nth-child(6) {
  visibility: hidden;
}

/* t&m - gray summary box Oblg. F&A column data - view only on doc - looks for li tag with id in format li????0-???? since they seem to be in format li030315-00001 with whatever award num */
/* in order to not hide any table cells for the "Distributed/Distributable" dropdown selection which uses the identical table except for the number of columns, measuring the number of columns and only hiding the specified column if it detects that the 10th column is the last - trick from: https://alistapart.com/article/quantity-queries-for-css/ */
li[id^='li'][id*='-0'] > a > div > table > tbody > tr > td:nth-last-child(10):first-child ~ td:nth-child(6) {
  visibility: hidden;
}


/* t&m - gray summary box Ant. Direct label */
/* in order to not hide any table cells for the "Distributed/Distributable" dropdown selection which uses the identical table except for the number of columns, measuring the number of columns and only hiding the specified column if it detects that the 10th column is the last - trick from: https://alistapart.com/article/quantity-queries-for-css/ */
#awardHierarchyScrollable > div > div > table > tbody > tr > td:nth-last-child(10):first-child ~ td:nth-child(8) {
  visibility: hidden;
}


/* t&m - gray summary box Ant. Direct column data - view only on doc - looks for li tag with id in format li????0-???? since they seem to be in format li030315-00001 with whatever award num */
/* in order to not hide any table cells for the "Distributed/Distributable" dropdown selection which uses the identical table except for the number of columns, measuring the number of columns and only hiding the specified column if it detects that the 10th column is the last - trick from: https://alistapart.com/article/quantity-queries-for-css/ */
li[id^='li'][id*='-0'] > a > div > table > tbody > tr > td:nth-last-child(10):first-child ~ td:nth-child(8) {
  visibility: hidden;
}

/* t&m - gray summary box Ant. F&A label */
/* in order to not hide any table cells for the "Distributed/Distributable" dropdown selection which uses the identical table except for the number of columns, measuring the number of columns and only hiding the specified column if it detects that the 10th column is the last - trick from: https://alistapart.com/article/quantity-queries-for-css/ */
#awardHierarchyScrollable > div > div > table > tbody > tr > td:nth-last-child(10):first-child ~ td:nth-child(9) {
  visibility: hidden;
}

/* t&m - gray summary box Ant. F&A column data - view only on doc - looks for li tag with id in format li????0-???? since they seem to be in format li030315-00001 with whatever award num */
/* in order to not hide any table cells for the "Distributed/Distributable" dropdown selection which uses the identical table except for the number of columns, measuring the number of columns and only hiding the specified column if it detects that the 10th column is the last - trick from: https://alistapart.com/article/quantity-queries-for-css/ */
li[id^='li'][id*='-0'] > a > div > table > tbody > tr > td:nth-last-child(10):first-child ~ td:nth-child(9) {
  visibility: hidden;
}


/* t&m - transactions hide Obligated F&A Change */
/* in order to not hide any table cells for the "Distributed/Distributable" dropdown selection which uses the identical table except for the number of columns, measuring the number of columns and only hiding the specified column if it detects that the 10th column is the last - trick from: https://alistapart.com/article/quantity-queries-for-css/ */
div[id^='tab-Transactions'] > div.tab-container > table > tbody > tr > th:nth-child(7) {
  visibility: hidden;
}
/* t&m - transactions hide Obligated F&A Change dollar amount */
div[id^='tab-Transactions'] > div.tab-container > table > tbody > tr > td:nth-child(7) {
  visibility: hidden;
}

/* t&m transactions Anticipated F&A Change label */
div[id^='tab-Transactions'] > div.tab-container > table > tbody > tr > th:nth-child(9) {
  visibility: hidden;
}

/* t&m transactions Anticipated F&A Change dollar amt */
div[id^='tab-Transactions'] > div.tab-container > table > tbody > tr > td:nth-child(9) {
  visibility: hidden;
}
